@import "tailwindcss";

:root {
  --background: rgb(13, 13, 14);
  --foreground: rgb(230, 230, 230);
  --highlight: rgb(184, 167, 132);
  --darken: rgb(130, 130, 130);
}

@theme {
  --color-highlight: var(--highlight);
  --color-darken: var(--darken);
}

body {
  background: var(--background) linear-gradient(180deg, black 0, transparent 10%);
  color: var(--foreground);
  font-family: var(--font-mabinogi), Arial, Helvetica, sans-serif;
}
