@font-face {
  font-family: 'Mabinogi';
  src: url('./renderer/assets/fonts/Mabinogi_Classic_TTF.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

#app {
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

.MuiTypography-root {
  font-family: 'Mabinogi' !important;
  font-weight: normal !important;
  text-shadow: 0 0 1px black;
}

button.MuiButton-text {
  font-family: 'Mabinogi';
}
